@import "node_modules/compass-mixins/lib/compass/reset";
@import "./vars";

body {
  font-family: $font-family-m;
  font-size: $font-size;
  background-color: $body-bg-color;
}

a, a:hover, a:active {
  text-decoration: none;
}