<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>福州暴风雨网络科技有限公司</title>
</head>
<body>
${require('./commons/header.html')}
<div id="ad" class="slider">
  <ol class="slider-images">
    <li>
      <img src="../themes/images/home/slider/1.jpg">
    </li>
    <li>
      <img src="../themes/images/home/slider/2.jpg">
    </li>
    <li>
      <img src="../themes/images/home/slider/3.jpg">
    </li>
  </ol>
  <ol class="slider-indexes">
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ol>
</div>
${require('./commons/footer.html')}
</body>
</html>
