<!DOCTYPE html>
<html dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>福州龙卷风网络科技有限公司</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link href="themes/styles/app/common.css" rel="stylesheet">
  <link href="themes/styles/app/home.css" rel="stylesheet">
</head>
<body class="ar">
${require('./commons/header.html')}
<div id="home-slider" class="home-slider relative">
  <div class="slider-images-wrap">
    <ol class="slider-images">
      <li>
        <a href="#">
          <img src="../themes/images/home/slider/1.jpg">
        </a>
        <a class="app-store" href="#">
          <img src="../themes/images/commodity/buttons/app-store-cn.png">
          <img src="../themes/images/commodity/buttons/app-store-en.png">
          <img src="../themes/images/commodity/buttons/app-store-ar.png">
        </a>
        <a class="google-play" href="#">
          <img src="../themes/images/commodity/buttons/google-play-cn.png">
          <img src="../themes/images/commodity/buttons/google-play-en.png">
          <img src="../themes/images/commodity/buttons/google-play-ar.png">
        </a>a
      </li>
      <li>
        <a href="#">
          <img src="../themes/images/home/slider/2.jpg">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../themes/images/home/slider/2.jpg">
        </a>
      </li>
    </ol>
    <ol class="slider-indexes">
      <li class="active"></li>
      <li></li>
      <li></li>
    </ol>
  </div>
</div>
<div class="home-about relative">
  <div id="to-about" class="nav-hash"></div>
  <dl class="fix-center">
    <dt>About Us</dt>
    <dd>
      <p>　　福州龙卷风网络科技有限公司，成立于2014年8月，公司专注于手机游戏研发，与中东地区手游产品的发行业务。目前已经完成一款适合全球发行的精品手游《航海归来》，与多地区多国签定了战略合作协议。</p>
      <p>　　中东地区做为自己独立推广运营的重点地区，游戏已发行一年，并取得了不错的流水。其它国家如：美国、德国、加拿大、韩国和东南亚等地区均已独代成功，获得百万以上的代理金。
        中文做为全球首发的区域，核心成员主要来自于网龙、IGG、百度、腾讯等公司。</p>
    </dd>
  </dl>
</div>
<div id="commodity" class="home-commodity relative">
  <div id="to-commodity" class="nav-hash"></div>
  <dl>
    <dt>Games Products</dt>
    <dd class="commodity-slider relative">
      <div class="slider-images-wrap">
        <ol class="slider-images">
          <li>
            <a href="#">
              <img src="../themes/images/home/commodity/demo.png">
            </a>
            <h2>航海归来1</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodity.html">查 看</a>
          </li>
          <li>
            <a href="#">
              <img src="../themes/images/home/commodity/demo.png">
            </a>
            <h2>航海归来2</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodity.html">查 看</a>
          </li>
          <li>
            <a href="#">
              <img src="../themes/images/home/commodity/demo.png">
            </a>
            <h2>航海归来3</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodity.html">查 看</a>
          </li>
          <li>
            <a href="#">
              <img src="../themes/images/home/commodity/demo.png">
            </a>
            <h2>航海归来4</h2>
            <p>玩家化身传奇船长扬帆远航，在海上征途中完成全球贸易，海上掠夺，抗击海盗，争夺港口。全民海战，一触即发！</p>
            <a class="btn-view" href="commodity.html">查 看</a>
          </li>
        </ol>
      </div>
      <ul class="slider-dir">
        <li class="slider-left"></li>
        <li class="slider-right"></li>
      </ul>
    </dd>
  </dl>
</div>
<div id="contact" class="home-contact relative">
  <div id="to-contact" class="nav-hash"></div>
  <dl>
    <dt>Contact Us</dt>
    <dd>
      <div class="words">
        创业的大平台、大空间 有激情、有活力、有机会、有兄弟姐妹<br>
        简单、务实、低调的同事关系 我们高效，我们骄傲
      </div>
      <ul class="methods">
        <li class="address">
          中国福建省福州市鼓楼区晓康苑<br>
          南楼1801室
        </li>
        <li class="email">
          business@gltornado.com
        </li>
        <li class="tel">
          +86-13295940270
        </li>
      </ul>
      <a class="btn-join" href="job-list.html">
        我要应聘
        <span></span>
      </a>
    </dd>
  </dl>
</div>
${require('./commons/footer.html')}
<script src="scripts/app/common.js"></script>
<script src="scripts/app/home.js"></script>
</body>
</html>
