<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="福州力软信息科技有限公司,福州力软科技,福州网络公司,福州软件外包公司,福州网站建设">
  <meta name="description"
      content="福州力软信息科技有限公司成立于 2015 年 11 月 24 日，是福州新崛起的移动互联网服务提供商，为中小企业提供微信小程序开发、H5 游戏开发、手机应用开发、网站开发、企业管理系统开发、域名注册和服务器出售等服务。">
  <title>福州力软信息科技有限公司_福州力软科技_福州网络公司_福州软件外包公司</title>
</head>
<body>
${require('./commons/header.html')}
<!-- /导航栏 -->
<!-- banner 1 -->
<div class="banner-1">
  <div class="fix-center position-relative">
    <h2 class="position-absolute">
      福州力软信息科技有限公司
    </h2>
    <h3 class="position-absolute">
      <p>微信小程序开发、H5 游戏开发、手机应用开发、网站开发</p>
      <p>企业管理系统开发、域名注册、服务器出售、软件外包</p>
      <a class="block" href="/">我要咨询</a>
    </h3>
  </div>
</div>
<!-- /banner 1 -->
<div class="fix-center">
  <!-- banner 2 -->
  <div class="panel banner-2">
    <div class="panel-header">
      <h2>定制化的开发</h2>
    </div>
    <div class="panel-body fix-center"></div>
  </div>
  <!-- /banner 2 -->
  <!-- 服务 -->
  <div class="panel service">
    <div class="panel-header">
      <h2>优质的服务</h2>
    </div>
    <div class="panel-body clearfix">
      <dl class="service-1 first-item">
        <dt></dt>
        <dd>
          <h2>基础运维</h2>
          数据迁移、网站设置、软件安装，故障排查、众多运维服务您来选
        </dd>
      </dl>
      <dl class="service-2">
        <dt></dt>
        <dd>
          <h2>企业部署</h2>
          专业工程师帮您部署企业高性能、高可用解决方案
        </dd>
      </dl>
      <dl class="service-3">
        <dt></dt>
        <dd>
          <h2>开发设计</h2>
          网站设计、软件开发、平面设计、名片海报设计等
        </dd>
      </dl>
      <dl class="service-4">
        <dt></dt>
        <dd>
          <h2>推广营销</h2>
          名家高手为您定制网站和企业品牌推广方案
        </dd>
      </dl>
    </div>
  </div>
  <!-- /服务 -->
  <!-- 案例 -->
  <div class="panel case">
    <div class="panel-header">
      <h2>案例</h2>
    </div>
    <div class="panel-body clearfix">
      <ul>
        <li class="case-1 first-item"></li>
        <li class="case-2"></li>
        <li class="case-3"></li>
        <li class="case-4 first-item"></li>
        <li class="case-5"></li>
        <li class="case-6"></li>
      </ul>
    </div>
  </div>
  <!-- /案例 -->
</div>
${require('./commons/footer.html')}
</body>
</html>
