@import "node_modules/compass-mixins/lib/compass/reset";
@import "./vars";

@font-face {
  font-family: "NotoKufiArabic";
  src: url("http://www.gltornado.com/fonts/NotoKufiArabic-Regular.ttf") format("truetype");
}

body {
  font-size: $font-size;
  background-color: $body-bg-color;
  min-width: $page-width;
}

.cn {
  font-family: $font-family;
}

.en {
  font-family: $font-family-en;
}

.ar {
  font-family: "NotoKufiArabic";
}

a {
  text-decoration: none;
}