// 字体
$font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
// 英文字体
$font-family-en: Arial, Helvetica, sans-senif, "Microsoft YaHei";
// 阿拉伯字体
$font-family-ar: Arial, Helvetica, freesans, sans-serif;
// 字号
$font-size: 14px;
// 字体颜色
$font-color: black;
// 网页宽度
$page-width: 1560px;
// 最大宽度
$page-max-width: 1920px;
// 网页背景
$body-bg-color: #f8fafc;
// 主要色调
$primary-color: #2aadee;

// header 背景色
$header-bg-color: black;

// footer 背景色
$footer-bg-color: #0b0b0b;
// footer 字体颜色
$footer-color: white;