@import "../../utils/vars";
@import "../../utils/mixins";

$width: 1920px;
$height: 800px;

.home-slider {
  height: $height;
  overflow: hidden;

  // 滑动广告
  .slider-images-wrap {
    width: $width;
    height: $height;
    @include absolute-center(100%, $width);
    overflow: hidden;
    text-align: center;

    // 滑动广告图片
    .slider-images {
      position: relative;

      li {
        float: left;
        width: $width;
        height: $height;

        img {
          display: block;
          width: $width;
          height: $height;
        }

        .app-store,
        .google-play {
          position: absolute;
          left: 1660px;
          width: 173px;
          height: 50px;
          border-radius: 5px;
          overflow: hidden;

          img {
            @include block-img(173px, 50px);
          }
        }

        .app-store {
          top: 630px;
        }

        .google-play {
          top: 700px;
        }
      }
    }

    // 滑动广告索引按钮
    .slider-indexes {
      position: relative;
      display: inline-block;
      padding: 3px 16px;
      line-height: 0;
      overflow: hidden;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, .6);
      top: -30px;

      li {
        display: inline-block;
        background-image: url("../../../images/home/slider/index.png");
        width: 8px;
        height: 8px;
        margin-left: 2px;
        margin-right: 2px;
        cursor: pointer;

        &.active {
          background-image: url("../../../images/home/slider/index-active.png");
          width: 20px;
        }
      }
    }
  }
}

.ar {
  .ad-slider {
    direction: ltr;
  }

  .app-store,
  .google-play {
    left: 87px !important;
  }
}