@import "../../utils/vars";
@import "../../utils/mixins";

$width: 1920px;
$height: 500px;

// 滑动广告
.slider {
  width: 100%;
  overflow: hidden;

  // 滑动广告图片
  &-images {
    li {
      @include absolute-center(100%, $width);
      height: 500px;

      img {
        display: block;
        width: $width;
        height: 500px;

        &:first-child {
          z-index: 999;
        }
      }
    }
  }

  // 滑动广告索引按钮
  &-indexes {
    margin-top: 600px;
  }
}