@import "../../utils/vars";

// footer
.footer {
  display: none;
  margin-top: 10px;
  background-color: $footer-bg-color;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $footer-color;
  line-height: 200%;
  text-align: center;
}
