@import "../../utils/vars";
@import "../../utils/mixins";

$height: 80px;
$nav-active-color: #298eff;
$font-color: #c8c4c2;

// header
.header {
  @include middle($height);
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .7);

  // logo
  .logo {
    float: left;
    background-image: url("../../../images/logo.png");
    width: 393px;
    height: 54px;
    margin-top: 13px;
  }

  // 导航栏
  .nav {
    font-weight: bold;
    float: left;
    margin-left: 126px;

    li {
      float: left;

      // 导航菜单
      a {
        box-sizing: border-box;
        display: inline-block;
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
        @include middle($height);
        margin-right: 30px;
        color: $font-color;
      }

      // 导航菜单激活状态
      &.active {
        a {
          color: $nav-active-color;
          border-bottom: 2px solid $nav-active-color;
        }
      }
    }
  }

  // 语言切换
  .locale {
    padding: 12px 20px;
    line-height: 14px;
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(0, 0, 0, .08);
    color: white;

    .divider {
      padding: 0px 8px;
      font-size: 12px;
    }

    .active {
      color: #2372cc;
    }

    a {
      color: $font-color;
    }
  }
}

.ar {
  .header {
    text-align: left;

    .logo {
      float: right;
    }

    .nav {
      float: right;
      margin-left: 0;
      margin-right: 126px;

      li {
        float: right;
      }
    }
  }
}
