@import "../utils/vars";

/* banner 1 */
.banner-1 {
  height: 450px;
  background: url("../../images/home/banner/1.png") no-repeat center;
  background-color: $primary-color;

  h2 {
    color: white;
    top: 60px;
    font-size: 32px;
  }

  h3 {
    color: white;
    top: 200px;

    p {
      font-size: 16px;
      padding-bottom: 15px;
    }

    a {
      margin-top: 50px;
      font-size: 16px;
      color: white !important;
      width: 150px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      border: 1px solid white;
    }
  }

}

.banner-2 {
  .panel-body {
    background: url("../../images/home/banner/2.png") no-repeat center;
    height: 380px;
  }
}

.banner-3 {
  .panel-body {
    background: url("../../images/home/banner/3.png") no-repeat center;
    height: 440px;
  }
}

.service {
  dl {
    float: left;
    width: 243px;
    border: 1px solid #eee;
    background-color: white;
    margin-left: 20px;
    padding: 30px 20px;

    dt {
      height: 90px;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 20px;
    }

    dd {
      line-height: 180%;

      h2 {
        text-align: center;
        font-size: 18px;
        padding-bottom: 20px;
      }
    }

    &.service-1 {
      dt {
        background-image: url("../../images/home/service/1.png");
      }
    }

    &.service-2 {
      dt {
        background-image: url("../../images/home/service/2.png");
      }
    }

    &.service-3 {
      dt {
        background-image: url("../../images/home/service/3.png");
      }
    }

    &.service-4 {
      dt {
        background-image: url("../../images/home/service/4.png");
      }
    }
  }
}

.case {
  li {
    width: 334px;
    height: 254px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 25px;
    background-color: white;
    border: 1px solid #eee;
    background-repeat: no-repeat;
    background-position: center;

    &.case-1 {
      background-image: url("../../images/home/case/1.jpg");
    }

    &.case-2 {
      background-image: url("../../images/home/case/2.jpg");
    }

    &.case-3 {
      background-image: url("../../images/home/case/3.jpg");
    }

    &.case-4 {
      background-image: url("../../images/home/case/4.jpg");
    }

    &.case-5 {
      background-image: url("../../images/home/case/5.jpg");
    }

    &.case-6 {
      background-image: url("../../images/home/case/6.jpg");
    }
  }
}