@import "node_modules/compass-mixins/lib/compass/reset";
@import "../utils/vars";

/* 顶部栏 */
.top-bar {
  height: 36px;
  line-height: 36px;
  background-color: #0298e3;
  color: white;
}

/* 菜单栏 */
.nav-bar {
  height: 80px;
  line-height: 80px;
  background-color: $primary-color;

  /* logo */
  .logo {
    display: block;
    top: 25px;
    width: 130px;
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 20px;
    text-indent: 40px;

    background: url("../../images/logo.png") no-repeat;
  }

  /* 导航菜单 */
  .nav {
    a {
      font-size: 16px;
      margin-left: 30px;
      color: white;
      padding-bottom: 3px;

      &.active {
        border-bottom: 1px solid white;
      }
    }
  }
}

.panel {
  margin-top: 30px;

  &-header {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      border-bottom: 1px solid $primary-color;
      font-size: 20px;
      padding-bottom: 15px;
      display: inline-block;
    }
  }
}
