<!-- 顶部 -->
<div class="top-bar">
  <div class="fix-center position-relative">
    <p class="position-absolute">
      专业的移动互联网服务提供商。
    </p>
    <p class="position-absolute position-right text-right">
      客服电话：13950442340
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      客服 QQ：6421664
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      微信号：729234283
    </p>
  </div>
</div>
<!-- /顶部 -->
<!-- 导航栏 -->
<div class="nav-bar">
  <div class="fix-center position-relative">
    <a class="logo position-absolute" href="/">力软科技</a>
    <p class="nav position-absolute position-right text-right">
      <a class="active" href="/">首页</a>
      <a href="https://github.com/zhaotoday" target="_blank">GitHub</a>
      <a href="http://www.qianduan.org/" target="_blank">博客</a>
      <a href="http://www.codefarm.net/" target="_blank">代码库</a>
      <a href="http://www.riji.me/" target="_blank">收藏夹</a>
      <a href="https://github.com/fzit" target="_blank">加入我们</a>
      <a href="https://github.com/fzit/about-us" target="_blank">关于我们</a>
      <a href="http://www.tengmi.cn/" target="_blank">域名/服务器</a>
    </p>
  </div>
</div>
<!-- /导航栏 -->