<!-- header -->
<div class="header fixed text-r">
  <div class="fix-center relative">
    <a class="logo block float-l" href="/"></a>
    <p class="nav float-l">
      <a class="active" href="#">首页</a>
      <a href="#">关于我们</a>
      <a href="#">游戏产品</a>
      <a href="#">联系我们</a>
    </p>
    <p class="locale inline-block">
      <span class="active">中文</span>
      <span class="divider">|</span>
      <a href="#">English</a>
      <span class="divider">|</span>
      <a href="#">阿拉伯语</a>
    </p>
  </div>
</div>
<!-- /header -->